* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    display: flex;
}

.full-width {
    width: 100%;
}

.left-text {}

.section-1-img {
    width: 100%;
    object-position: top;
    object-fit: fill;
}

hr {
    height: 0.5rem;
    background-color: white;
    border: 0;
    width: 100%;
}

.inside {
    position: absolute;
    width: 40%;
    margin: 13rem 0 0 4rem;
    letter-spacing: 3px;
    line-height: 0.2;
    color: white;
}

.inside .text-1 {
    font-size: 5vw;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-style: normal;
    text-align: left;
}

.inside .text-2 {
    font-size: 8vw;
    text-transform: uppercase;
    font-family: "Archivo Black";
    font-weight: 700;
    text-align: left;
}

.section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10% 16%;
    align-items: center;
}

.section-2 h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #999999 !important;
    margin: 0.5rem 0;
}

.section-2 h1 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 3.125rem;
    margin: 0.5rem 0;
}

.section-2 p {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.75rem;
    background: #e71a23;
    padding: 2vw 3vw;
    text-decoration: none;
    margin: 2vw 10vw;
}

.btn:hover {
    background: #cc1a1a;
    text-decoration: none;
}

.section-3 {
    padding: 0 10%;
}

.div-box {
    width: 50%;
}

.div-box div {
    padding: 0 1rem 0 1rem;
}

.p {
    padding: 0 15%;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    word-wrap: break-word;
    position: relative;
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.roboto {
    font-family: Roboto, sans-serif;
}

.need {
    font-weight: 700;
    font-size: 2.25rem;
}

.call {
    color: #e71a23 !important;
    text-align: left;
    font-size: 1.875rem;
    padding: 0;
    font-weight: bold;
}

.section-4 {
    background-color: #999999;
    display: flex;
    padding: 0 5%;
    margin-top: 2rem;
}

.section-4 .col-6 {
    width: 55%;
    padding: 0 5%;
}

.section-4 .col-4 {
    width: 45%;
    padding: 0 5%;
    object-fit: contain;
    margin: auto;
}

.section-4 .col-6 img {
    height: 100%;
    margin: 0;
    object-fit: contain;
}

.section-4 .col-4 h2 {
    margin: auto;
    padding-top: 5vw;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.75rem;
    color: #104e92 !important;
}

.section-4 hr {
    background-color: #e71a23;
    border: none;
}

.section-4 p {
    font-size: 1rem;
    word-wrap: break-word;
    line-height: 1.6;
}

.section-4 .btn4 {
    width: 50%;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.5vw;
    background: #e71a23;
    padding: 2vw 3vw;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.section-5 {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.ourservices {
    font-size: 3.125rem;
    line-height: 1.1;
    margin: 0 0 2rem 4rem;
    font-family: Roboto, sans-serif;
}

.icon-parent-box {
    margin: 0 5%;
    display: flex;
}

.icon-box-heading {
    font-weight: 700;
    word-wrap: break-word;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
}

.icon-box {
    width: 33.3%;
    margin: auto;
    padding: 0 1rem;
    word-wrap: break-word;
    position: relative;
    text-align: left;
    line-height: 1.6;
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
}

.section-5-icons {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #cc1a1a;
}

.section-5-icons img {
    width: 100%;
    padding: 20%;
    object-fit: contain;
}

.section-6 {
    background-color: #104e92;
    text-align: center;
    padding: 5% 10%;
}

.section-6 .col-1 {
    width: 50%;
    padding: 0 5rem;
    margin: auto;
}

.section-6 h6 {
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    font-family: Montserrat, sans-serif !important;
    word-wrap: break-word;
    position: relative;
    color: #ffffff;
}

.section-6 h3 {
    text-align: left;
    letter-spacing: 2px;
    object-fit: contain;
    font-weight: bold;
    font-size: 4.5vw;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    word-wrap: break-word;
    position: relative;
    color: #ffffff;
    margin: auto;
}

.img-grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row img {
    width: 50%;
    margin: 1vw;
}

.section-7 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.to-do {
    font-weight: 700;
    word-wrap: break-word;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 2.25rem;
    line-height: 1.1;
    padding: 5vw 26vw 0;
}

.mission {
    font-size: 1.875rem;
    font-weight: 300;
    padding: 4vw 26vw;
    font-family: 'Open Sans', sans-serif;
}

.to-do-btn {
    display: flex;
    padding: 0 20%;
    margin: auto;
    text-transform: uppercase;
}

.to-do-btn .btn {
    margin: 1rem;
}

#two {
    margin: 1rem;
    background-color: #ffffff !important;
    color: black;
    border-style: solid;
    border-width: 1px;
}

.grey-area-section {
    background-color: #333333;
    color: white;
}

.grey-area-section .grey-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 25px 0;
}

.grey-area .grey-area-text .sample-text {
    margin: 49px auto;
    font-size: 0.875rem;
    word-wrap: break-word;
}

.grey-area .link {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1em;
    font-size: 0.8rem;
    margin: 30px auto;
}

.link .real-link {
    color: #abcff7;
}

.link .link-text {
    margin: 0 5px;
}

@media screen and (max-width: 900px) {
    .section-3 .div-box,
    .div-box div {
        width: 100%;
        padding: 0;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    .div-box div h2,
    .div-box div p {
        padding-left: 3rem;
    }
}

@media (max-width: 900px) {
    .columns {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .section-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 740px) {
    .btn {
        /* width: 12vw; */
        text-align: center;
        word-break: keep-all;
    }
}

@media screen and (max-width: 900px) {
    .section-4 .col-6 img {
        width: 100%;
        margin: 0;
        object-fit: contain;
    }
}

@media screen and (max-width: 800px) {
    .icon-box .col-1,
    .section-4 hr {
        width: 90%;
    }
}

@media screen and (max-width: 780px) {
    .section-5,
    .icon-parent-box {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}

@media screen and (max-width: 900px) {
    .section-6 .col-1 {
        width: 100%;
        padding: 0 0;
    }
}

@media screen and (max-width: 900px) {
    .section-6 h3 {
        font-weight: bold;
        font-size: 8vw;
    }
}

@media screen and (max-width: 900px) {
    .to-do,
    .mission,
    .icon-box-heading p {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 900px) {
    .btn4,
    .col-4 h2 {
        margin: 1rem 0;
        text-align: center;
    }
    .section-5 h1 {
        margin: auto;
        text-align: center;
    }
    .section-4 .col-4 p {
        display: block;
        width: 100%;
        /* word-wrap: break-word; */
    }
}

@media screen and (max-width: 900px) {
    .inside {
        padding: 5rem 0;
        margin: 20vw 0 0 5rem;
    }
    hr {
        width: 100%;
        margin: auto 0;
    }
    .section-1 img,
    .icon-box {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 760px) {
    .inside {
        width: 100%;
    }
    hr {
        width: 50vw;
        float: left;
    }
    .section-1 img {
        width: 100%;
        object-position: 80% 0;
    }
}